# binary files

bin/*
build/*
build-bench/*
build-sse/*
build-icc/*

# Eclipse projects

.project
.cproject
.settings/*

# Sphinx builds

doc/_build/*

# Python objects

*.pyc

# Backup files

*.cmake~
*.txt~
*.h~
*.cpp~

